.wrapper{
  width: 100%;
}

.header{
  width: 100%;
  padding: 2rem 0;
  background-color: #f1c40f;
  text-align: center;
}

.header h1{
  font-size: 2rem;
  font-weight: 500;
  color: white;
}

.input_div{
  width: 500px;
  padding: 3rem 2rem 2.5rem;
  position: relative;
  margin: 2rem auto;
  box-shadow: 0 1rem 1rem rgb(185, 184, 184);
  border-radius: 1rem;
}

.input_div input, .input_div textarea{
  width: 100%;
  font-size: 1.3rem;
  font-weight: 400;
  color: gray;
  outline: none;
  border: 0;
  margin-bottom: 1rem;
}

.input_div button{
  border: 0;
  border-radius: 50%;
  box-shadow: 0 0.5rem 1rem gray;
  background-color: white;
  cursor: pointer;
  position: absolute;
  bottom:15px;
  right: 2rem;
  outline: none;
  color: #f1c40f;
  width: 2.5rem;
  height: 2.5rem;
}